venv/
**.pyc
.idea
**.scripted
output_visualizations*
!output_visualizations/.gitkeep
!output_visualizations/**/model.pt
!output_visualizations/runs_base.csv
kinderlabor_dataset/*
kinderlabor_dataset_bu
!kinderlabor_dataset/.gitkeep
!kinderlabor_dataset/*.jpeg
!kinderlabor_dataset/dataset_anonymized.csv
playground*.py
dataset_root**